html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.5;
  color: #36414c;
  text-align: left;
  background-color: #f5f5f5;
  margin: 0 !important;
}

.logo {
  height: 90px;
  position: relative;
  left: 1rem;
  padding-bottom: 10px;
}

a {
  color: #000;
}

a:hover {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

h1.primary-text {
  font-size: 2.5rem !important;
  line-height: 1rem !important;
}

h1, h5 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  line-height: 1.2;
  color: inherit;
  font-weight: 600;
}

p {
  color: #8d99a6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section, .section-padding, .top-section {
  padding: 5rem 0 5rem 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.top-section {
  position: static;
  padding: 0 !important;
}

.logo-part {
  position: relative;
  top: 1em;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Didact Gothic', sans-serif;
}

.logo-part > img {
  margin: 1rem !important;
}

#company-name {
  line-height: 50px;
  position: relative;
  right: 1.5rem;
  font-size: 30px;
}

.nav-items {
  text-transform: none !important;
  color: #292929 !important;
  font-size: 13pt !important;
}

.lead {
  line-height: 1.5 !important;
  font-size: 1.15rem !important;
  font-weight: 300;
  /* padding: 0 4em 0 0; */
  display: block;
}

img {
  border-radius: 0.25rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.border {
  border-top: 1px solid #d1d8dd;
  border-bottom: 1px solid #d1d8dd;
}

.padder {
  padding-top: 15px;
}

.spaced-letter{
  letter-spacing: 0.15rem;
}

.pad-reduced {
  padding: 25;
}

.apply-button {
  background: grey;
  color: white;
  text-transform: unset;
  border-radius: 0.25rem;
}

.background-color {
  background: #36414c;
}

.white-text{
  color: #fff;
}

footer{
  padding-top: 3rem;
  font-family: 'Fira Sans', sans-serif;
}

.footer-card{
  background: inherit !important;
}

.no-btm-margin{
  margin-bottom: 0 !important;
}

.text-faded{
  color: #8d99a6;
}

#card-section{
  background-color: #f5f5f5;
}

.service-card{
  align-content: center;
  /* padding-left: 1rem; */
  /* margin: 1rem !important; */
  text-overflow: ellipsis;
  display: flex;
  /* padding-top: 2rem; */
  /* height: 200px; */
  /* width: 450px; */
  /* height: fit-content; */
  /* box-shadow: 3px 3px 30px #afafaf; */
}

.card-internal{
  display: inline-block;
}

#card-space{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.container-internal {
  background-color: #f5f5f5;
}

.image-partner{
  padding-right: 2rem;
}