body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.5;
  color: #36414c;
  text-align: left;
  background-color: #fff;
  margin-top: 0 !important;
}

a {
  color: #000;
}

a:hover {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

h1.primary-text {
  font-size: 2.5rem !important;
  line-height: 1rem !important;
}

h1, h5 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  line-height: 1.2;
  color: inherit;
  font-weight: 600;
}

p {
  color: #8d99a6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section, .section-padding, .top-section {
  padding: 5rem 0 5rem 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.top-section {
  /* padding: 6rem 0rem; */
  /* text-align: center; */
  position: static;
  padding: 0 !important;
}

.logo-part {
  position: relative;
  top: 1em;
}

#company-name {
  position: relative;
  bottom: 1em;
  right: 3em;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 25px;
  font-family: 'Didact Gothic', sans-serif;
  color: #000;
}

.nav-items {
  text-transform: none !important;
}

.lead {
  line-height: 1.5 !important;
  font-size: 1.15rem !important;
  font-weight: 300;
  padding: 0 4em 0 0;
  display: block;
}

img {
  border-radius: 0.25rem;
}

.text-center {
  text-align: center;
}

.border {
  border-top: 1px solid #d1d8dd;
  border-bottom: 1px solid #d1d8dd;
}

.padder {
  padding-top: 15px;
}

.pad-reduced {
  padding: 25;
}

.apply-button {
  background: #36414c;
  color: white;
  text-transform: unset;
  border-radius: 0.25rem;
}

.background-color {
  background: #36414c;
}
